<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header::head"></div>
</head>
<body class="app sidebar-mini">
<!-- Navbar-->
<header class="app-header"><a class="app-header__logo" th:href="@{/}">Reimbursement</a>
    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                    aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
        <li class="app-search">
            <input class="app-search__input" type="search" placeholder="Search">
            <button class="app-search__button"><i class="fa fa-search"></i></button>
        </li>
        <li class="dropdown"><a class="app-nav__item" th:href="logout"><i class="fa fa-sign-out fa-lg"></i></a>

        </li>
    </ul>
</header>
<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<div th:replace="fragments/header::sidebar"></div>
<main class="app-content">
    <div class="app-title">
        <div>
            <h1><i class="fa fa-th-list"></i>Vehicle Data</h1>
            <p>Table to display vehicle data</p>
        </div>
    </div>
    <button type="button" class="btn  btn-info mb-2" data-toggle="modal" data-target="#exampleModal">
        <i class="far fa fa-plus-square"></i>Add
    </button>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered" id="sampleTable">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>Number Plate</th>
                                <th>Vehicle Type</th>
                                <th>Stnk Owner</th>
                                <th>Photo Stnk</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="as : ${vehicles}">
                                <td>#</td>
                                <td th:text="${as.id}"></td>
                                <td th:text="${as.vehicleType}"></td>
                                <td th:text="${as.stnkOwner}"></td>
                                <td th:text="${as.photoStnk}"></td>
                                <td style="text-align: center">
                                    <button type="button" class="btn  btn-info mb-2" data-toggle="modal" data-target="#exampleModalUpdate">
                                        <i class="far fa fa-plus-edit"></i>Update
                                    </button>

                                    <form th:action="@{vehicle/update}" th:object="${vehicle}" method="post">
                                        <div class="modal fade" id="exampleModalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Update</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>

                                                    <div class="modal-body">

                                                        <!--==================================Isi method Update Modal====================================================================-->
                                                        <table th:border="0">
                                                            <tbody>
                                                            <tr>
                                                                <th></th>
                                                                <th>
                                                                    <input type="hidden" readonly th:id="id" name="id" th:value="${as.id}">

                                                                </th>
                                                            </tr>
                                                            <tr>
                                                                <td>Vehicle Type :</td>
                                                                <td> <input type="text" readonly th:id="vehicleType" name="vehicleType" th:value="${as.vehicleType}" class="form-control">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>STNK Owner :</td>

                                                                <td> <input type="text" th:id="stnkOwner" name="stnkOwner" th:value="${as.stnkOwner}" class="form-control"/></td>
                                                            </tr>
                                                            <tr>
                                                                <td>Photo STNK :</td>
                                                                <td><input type="text" th:id="photoStnk" name="photoStnk" th:value="${as.photoStnk}" class="form-control"/></td>
                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <!--==================================Button pada modal Insert====================================================================-->
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                        <button onclick="setTimeout(okeBtn(), 1500);" type="submit" class="btn btn-primary"> Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--==================================MODAL INSERT==================================-->
<form th:action="@{vehicle/save}" th:object="${vehicle}" method="post" enctype="multipart/form-data">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Insert</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <!--==================================Isi method Insert Modal====================================================================-->
                    <table border="0">
                        <tbody>
                        <tr>
                            <th>Number Plate</th>
                            <th>
                                <div class="row">

                                    <div class="col-2">
                                        <input type="text" class="form-control form-control-sm" id="id" name="id"
                                               placeholder="X">
                                    </div>
                                    <p>_</p>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="id" name="id"
                                               placeholder="000">
                                    </div>
                                    <p>_</p>
                                    <div class="col-3">
                                        <input type="text" class="form-control form-control-sm" id="id" name="id"
                                               placeholder="XXX">
                                    </div>

                                </div>
                            </th>
                        </tr>
                        <tr>
                            <td>Vehicle Type</td>
                            <td><input type="radio" th:id="vehicleType" name="vehicleType" value="motorcycle">
                                <label th:for="motorcycle">Motorcycle</label>
                                <input type="radio" th:id="vehicleType" name="vehicleType" value="car">
                                <label th:for="car">Car</label></td>
                        </tr>
                        <tr>
                            <td>STNK Owner</td>

                            <td><input type="text" th:id="stnkOwner" name="stnkOwner" class="form-control"/></td>
                        </tr>
                        <tr>
                            <td>Photo STNK</td>
                            <td><input type="file" th:id="photoStnk" name="photoStnk" class="form-control"/></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <!--==================================Button pada modal Insert====================================================================-->
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button onclick="setTimeout(okeBtn(), 1500);" type="submit" class="btn btn-primary"> Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!--===================================END MODAL INSERT=====================================-->

<div th:replace="fragments/header::script"></div>


</body>


</body>
</html>

